SERVICE_URL=http://localhost:8080
SERVICE_API_URL=https://localhost:8080/api
SERVICE_NAME=Abrechnung
DB_HOST=abrechnung_postgres
DB_USER=abrechnung
DB_NAME=abrechnung
DB_PASSWORD=replaceme # e.g. pwgen -s 64 1

ABRECHNUNG_SECRET=replaceme # pwgen -s 64 1
ABRECHNUNG_PORT=8080
ABRECHNUNG_ID=default

REGISTRATION_ENABLED=false
REGISTRATION_VALID_EMAIL_DOMAINS=sft.lol,sft.mx
REGISTRATION_ALLOW_GUEST_USERS=true

ABRECHNUNG_EMAIL=abrechnung@sft.lol
SMTP_HOST=mail
SMTP_PORT=1025
SMTP_MODE=smtp
#SMTP_MODE=smtp-starttls # use this in production, remove line above
SMTP_USER=username
SMTP_PASSWORD=replaceme

POSTGRES_USER=abrechnung
POSTGRES_PASSWORD=replaceme # use the same as DB_PASSWORD
POSTGRES_DATABASE=abrechnung # use the same as DB_NAME
