.sidebarContainer {
    height: 100vh;
    padding-top: 64px;
    padding-bottom: 40px;
}

.sidebarScrollContainer {
    height: 100%;
    overflow-y: auto;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 8px;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
