[Unit]
Description=Abrechnung API Service
After=postgresql.service

[Service]
ExecStart=/usr/bin/abrechnung api
User=abrechnung
Group=abrechnung

[Install]
WantedBy=multi-user.target