[Unit]
Description=Abrechnung Mail Delivery Service
After=postgresql.service

[Service]
ExecStart=/opt/venvs/abrechnung/bin/abrechnung mailer
User=abrechnung
Group=abrechnung

[Install]
WantedBy=multi-user.target
