[Unit]
Description=Abrechnung API Service
After=postgresql.service

[Service]
ExecStart=/opt/venvs/abrechnung/bin/abrechnung api
User=abrechnung
Group=abrechnung

[Install]
WantedBy=multi-user.target