#!/usr/bin/make -f

DESTDIR = $(CURDIR)/debian

#export DH_VERBOSE = 1
export PYBUILD_NAME = abrechnung
export PYBUILD_TEST_PYTEST = 1
export PYBUILD_SYSTEM=flit
export PYBUILD_DISABLE_python3=test

export NODE_OPTIONS=--openssl-legacy-provider

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	cd $(CURDIR)/web && yarnpkg install && yarnpkg build && cd $(CURDIR)

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(DESTDIR)/abrechnung/usr/share/
	mv $(CURDIR)/web/build $(DESTDIR)/abrechnung/usr/share/abrechnung_web

	mkdir -p $(DESTDIR)/abrechnung/etc/abrechnung
	mkdir -p $(DESTDIR)/abrechnung/etc/nginx/sites-available
	mkdir -p $(DESTDIR)/abrechnung/lib/systemd/system
	install -m644 config/config.yaml $(DESTDIR)/abrechnung/etc/abrechnung/abrechnung.yaml
	install -m644 config/nginx-site $(DESTDIR)/abrechnung/etc/nginx/sites-available/abrechnung
	install -m644 systemd/abrechnung-api.service $(DESTDIR)/abrechnung/lib/systemd/system
	install -m644 systemd/abrechnung-mailer.service $(DESTDIR)/abrechnung/lib/systemd/system
	install -m644 systemd/abrechnung-db-clean.service $(DESTDIR)/abrechnung/lib/systemd/system
	install -m644 systemd/abrechnung-db-clean.timer $(DESTDIR)/abrechnung/lib/systemd/system
