
.account-select-container {
    position: relative;
}

.account-select-dropdown {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);;
    border-radius: .25rem;
    position: absolute;
    top: 40px;
    z-index: 10;
    background-color: #fff;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-item {
    cursor: pointer;
    position: relative;
    display: block;
    padding: .5rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

.list-item:hover {
    /*color: #7b8a8b;*/
    background-color: #ecf0f1;
}

.list-item:first-child {
    border-top-width: 0;
}